<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.sickan90.eda397ppapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanningPoker"
            android:label="@string/title_activity_plannig_poker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlanningPokerDisplay"
            android:label="@string/title_activity_planning_poker_display"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PairProgrammingTips"
            android:label="@string/title_activity_pair_programming_tips"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PairProgrammingTipsDisplay"
            android:label="@string/title_activity_pair_programming_tips_display" >
        </activity>
        <activity
            android:name=".ViewRoadmap"
            android:label="@string/title_activity_view_roadmap" >
        </activity>
        <activity
            android:name=".ViewRoadmapList"
            android:label="@string/title_activity_view_roadmap_list" >
        </activity>
        <activity
            android:name=".ViewIndividualStory"
            android:label="@string/title_activity_view_individual_story" >
        </activity>
    </application>

</manifest>
